<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <div class="form-group">
            <label >UserName</label>
            <input type="text" name="username">
        </div>
        <br>
        <div >
            <label >Email</label>
            <input type="email", name="email">
        </div>
        <div >
            <label >Password</label>
            <input type="password", name="password1">
        </div>
        <div >
            <label >confirmation Password</label>
            <input type="password", name="password2">
        </div>
        <br> -->
        <button type="submit" >Sign Up</button>
    </form>
</body>
</html>